.admin-page-header { 
  margin: 2rem 0 1.5rem;
}

.admin-page-title {
  color: var(--primary-color);
  font-weight: bold;
}

.admin-grid-row {
  border: 1px solid var(--gray-l-color);

  &:not(:last-child) {
    border-bottom: 0;
  }
}

.admin-grid {
  padding: 0.25rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;

  &.admin-grid-header {
    align-items: flex-start;

    .admin-grid-item {
      font-size: .8rem;
      color: var(--body-l-color);
      font-weight: 500;
    }
  }

  .admin-grid-item {
    padding: 8px 4px;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;
    
    &:not(.has-ellipsis) {
      display: flex;
      align-items: center;
    }
    
    &.has-ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      min-width: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.reservas-page {
  .form-small .form-group .form-control {
    max-width: none !important;
  }

  .reserve-detail {
    padding: 1rem;
    border-top: 1px solid var(--gray-l-color);
  }
  
  .admin-grid-header {
    border-bottom: 1px solid var(--gray-xl-color);
  }
}

.form-section {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray-l-color);

  .form-control,
  .custom-select {
    border-radius: 1rem;
    border-color: var(--gray-l-color);
    padding-left: 1rem;
    padding-right: 1rem;

    &:disabled, &[readonly] {
      background: var(--gray-xl-color);
    }
  }

  .form-group {
    margin-left: -8px;
    margin-right: -8px;

    > div {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.form-section-footer {
  padding-bottom: 5rem;
}

.nav-tabs {
  border-bottom-color: var(--gray-l-color);

  .nav-link {
    border-bottom: 3px solid transparent;
    color: var(--body-l-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem 1.5rem;
    
    &.active {
      border-bottom-color: var(--secondary-color);
      color: var(--primary-color);
      font-weight: 500;
    }
  }

}