.home-container {

  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5% 10%;
    
    h1 {
      font-size: 2.5rem;
      letter-spacing: -1px;
      font-weight: 600;
      color: var(--primary-color);
      margin-bottom: 3rem;
    }
  }

  .form-container {
    border: 1px solid var(--gray-color);
    box-shadow: 0 5px 30px rgba(0,0,0, 0.05);
    border-radius: 1rem;
  }

  .form-group {
    label, .form-group-label {
      padding: 0.5rem 2rem;
    }

    .form-control {
      padding: 1.75rem 2rem 0.75rem;
      font-size: 0.9rem;
    }
    
    &:not(:last-child) .form-control {        
      border-right: 0;
      border-bottom: 1px solid var(--gray-l-color);
    }
  }

  .home-image {
    background: url('../images/home-pic.jpg');
    background-size: cover;
    position: fixed;
    right: 0;
    height: calc(100% - 88px);
  }

}

.home-vuelos-container {
  .form-container {
    display: inline-flex;
  }

  .form-group {
    position: relative;

    label {
      padding: 0.5rem 1.25rem;
    }

    .form-control {
      padding: 1.75rem 1.25rem 0.75rem;
      border-radius: 0;
      border-bottom: 0;
      max-width: 160px;
    }
    
    &:not(:last-child) .form-control {        
      border-bottom: 0;
    }
  }

  .home-image {
    background: url('../images/home-vuelos-pic.jpg');
    background-size: cover;
  }

  .toggle-destination {
    position: absolute;
    top: 20px;
    right: -14px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    font-size: 0.7rem;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid var(--gray-l-color);
    box-shadow: 0 5px 10px rgba(0,0,0, 0.05);
    text-decoration: none;
    transition: all 0.15s ease-in;

    &:hover {
      background: var(--gray-l-color);
      transform: translate(0, -1px);
    }
  }
}