@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gilroy-Regular.otf');
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url('../fonts//Gilroy-SemiBold.ttf');
}


@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url('../fonts//Gilroy-Bold.ttf');
}


*, ::before, ::after {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
  width: 100%;
}

html, body {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  text-align: left;
  width: 100%;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #003293;
  --secondary-color: #4CD9CF;
  --body-color: #202541;
  --body-l-color: #627178;
  --body-xl-color: #7F8D93;
  --gray-color: #D6DCDF;
  --gray-l-color: #E7EBEF;
  --gray-xl-color: #F4F7FB;
}

.page {
  height: 100%;
}

.page .navbar {
  position: sticky;
  top: 0;
  background: #fff;
}

.btn:focus {
  box-shadow: none!important;
}

.dropdown-toggle::after {
  display: none;
}

a {
  color: var(--primary-color);
}

.text-uppercase {
  letter-spacing: 2px;
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn {
  border-radius: 50px;
  font-weight: 500;
}

.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  transition: all ease-out 0.15s;
  
  &:hover {
    transform: translate(0, -3px);
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.btn-hero {
  font-weight: bold;
  padding: 1.2rem;
  box-shadow: 0 10px 30px rba(0, 0,0 , 0.15);
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-container {
  border-radius: 54px;
  overflow: hidden;
  border: 1px solid var(--gray-color);
}

.form-group {
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  
  &:not(:last-child) {
    border-right: 1px solid var(--gray-l-color);
  }

  label {
    padding: 0.5rem 2rem;
    margin-bottom: 0;
    font-size: 0.7rem;
    color: var(--body-l-color);
    position: absolute;
    top: 0;
    pointer-events: none;
  }

  .form-control {
    background: #fff;
    border: 0;
    padding: 1.1rem 2rem 0.65rem;
    height: auto;

    &:focus {
      box-shadow: none;
      background: var(--gray-xl-color);
    }
  }
}
