.navbar {
  min-height: 88px;
  border-bottom: 1px solid var(--gray-l-color);

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-toggler {
    border: 0;
  }

  .nav-item {
    font-size: 0.9rem;

    @media (min-width: 992px) {
      padding: 0.75rem;
    }

    .nav-link {
      color: var(--body-l-color);
    }

    &.active {
      .nav-link {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }

}