@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gilroy-Regular.otf');
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url('../fonts//Gilroy-SemiBold.ttf');
}


@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url('../fonts//Gilroy-Bold.ttf');
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
  width: 100%;
}

html, body {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.3;
  color: var(--body-color);
  text-align: left;
  width: 100%;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

/* Bootstrap reset */

hr {
  border-color: var(--gray-l-color);
}

.dropdown-toggle::after {
  display: none;
}

a {
  color: var(--primary-color);
}

.text-uppercase {
  letter-spacing: 2px;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-info {
  color: var(--secondary-color) !important;
}

.btn {
  border-radius: 50px;
  font-weight: 500;
  transition: all ease-out 0.15s;
  padding: 10px 20px;
  border-color: var(--gray-l-color);
  box-shadow: 0 1px 0 var(--gray-l-color) !important;
  font-size: 0.9rem;
  color: var(--primary-color);
  
  &:hover {
    transform: translate(0, -2px);
  }
}

.btn-default {
  background: #fff;
}

.btn-lg,
.btn-hero {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15) !important;
}

.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}

.btn-rounded {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  
  &:hover, &:focus {
    color: #fff;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }
}

.btn-info {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color) !important;
  
  &:hover, &:focus {
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }
}

.btn-danger {
  color: #fff !important;
}

.btn-uppercase {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;

  &.btn-sm {
    font-size: 0.6rem;
  }

  &.btn-lg {
    font-size: 0.9rem;
    padding: 1rem 2rem;
  }
}

.btn-hero {
  font-weight: bold;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 30px rba(0, 0,0 , 0.15);
  font-size: 0.8rem;
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.badge {
  padding: 4px;
  font-size: 0.7rem;
  font-weight: 500;
}

.badge-primary {
  background: #E5EAF4;
  color: var(--primary-color);
}

.badge-danger {
  background: #FDEDF0;
  color: var(--danger-color);
}

.modal-backdrop {
  background-color: #fff;
}

.modal {
  .modal-content {
    border: 1px solid var(--gray-l-color);
    padding: 3rem;
    box-shadow: 0 5px 60px rgba(0,0,0,.05);
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}


/* Helpers Classes */

.font-sm {
  font-size: 0.9rem;
}

.font-xs {
  font-size: 0.8rem;
}

.font-xxs {
  font-size: 0.7rem;
}

.font-medium {
  font-weight: 500;
}

.search-small {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem 1rem 1rem;

  &:hover {
    background: var(--gray-xl-color);
    text-decoration: none;
  }
}

.btn-circle, 
.circle-icon {
  display: flex;
  justify-self: center;
  min-width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--body-l-color);
}

.circle-icon-lg {
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
}

.circle-icon {
  background: var(--gray-l-color);
}

.circle-icon-success {
  background: var(--secondary-color);
  color: #fff;
}

.circle-icon-danger {
  background: var(--danger-color);
  color: #fff;
}

.list-dropdown {
  border: 1px solid var(--gray-l-color);
  padding: 0.5rem 1rem;
  border-radius: 34px;

  a {
    color: var(--body-color);
  }

  a:hover {
    text-decoration: none;
    white-space: nowrap;
  }

}
