// Page Layout

.results-header {
  padding: 1rem;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    position: sticky;
    top: 88px;
    background: #fff;
    z-index: 1000;
  }

  .form-control {
    max-width: 250px;
    font-size: 0.8rem;
  }
}
.results-main {
  padding: 0 1rem;

  @media (min-width: 768px) {
    width: calc(70% - 3rem);
    padding-left: 2rem;
  }
}

.results-map {
  width: 30%;
  position: fixed;
  right: 1rem;
  top: calc(1rem + 88px + 73px);
  bottom: 1rem;
  height: calc(100% - 2srem - 88px);
  border-radius: 8px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.result-amenities li {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 0.25rem;

  i {
    width: 1rem;
    text-align: center;
  }
}

// Result Card

.result-card {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-l-color);

  .result-name {
    font-size: 1.1rem;
  }
  
  .result-image-link {
    display: block;
    border-radius: 8px;
    overflow: hidden;

    @media (min-width: 768px) {
      margin-right: 1rem;
    }
  }
  
  .results-price-currency {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  
  .results-details {
    border-top: 1px solid var(--gray-l-color);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
  
  .room-card {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-l-color);
    }
  }
}

.reserve-modal {
  position: fixed;
  z-index: 1010;
  top: 88px; // This is the header height
  left: 0;
  width: 100%;
  height: 100%;

  .reserve-modal-backdrop {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .reserve-modal-content {
    background: #fff;
    right: 0;
    height: 100%;
    position: absolute;
    width: 420px; // saquenlo!
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.10);
  }

  .reserve-modal-image {
    height: 16.666%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      bottom: -32%;
    }
  }

  .reserve-card {
    border-bottom: 1px solid var(--gray-l-color);
    padding: 0.75rem 0;

    .reserve-card-title {
      font-size: 0.6rem;
      margin-bottom: 0.25rem;
    }

    p {
      margin-bottom: 0;
    }
  }
}

// Vuelos

.flights-results {
  margin-bottom: 4rem;

  .flights-search-container {
    padding: 1.5rem 0;
  }

  .toggle-destination {
    top: 14px;
  }

  .form-group {
    .form-control {
      padding: 1.5rem 1rem 0.5rem;
      min-width: 110px;
      max-width: 130px;
      font-size: 0.8rem;
    }

    label {
      padding: 0.5rem 1rem;
    }
  }

  .flight-result {
    border: 1px solid var(--gray-l-color);
    border-bottom: 0;
    transition: all 0.15s ease-in;
    
    &:hover {
      box-shadow: 0 5px 10px rgba(0,0,0,.05);
      cursor: pointer;
    }  
    
    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom: 1px solid var(--gray-l-color);
    }

    .arrow-open {
      display: none;
    }

    &.flight-result-open {
      margin-bottom: 1rem;
      box-shadow: 0 5px 10px rgba(0,0,0,.05);
      border-bottom: 1px solid var(--gray-l-color);

      .arrow-open {
        display: block;
      }

      .arrow-closed {
        display: none;
      }
    }
    
    .view-more-flight-button > .row {
      align-items: center;
      padding: 0 0.5rem;

      > .col {
        padding: 1rem 0.5rem;
      }
    }

    .flight-result-logo img {
      width: 35px;
      height: auto;
    }

    .btn-rounded {
      pointer-events: none;
    }

    .flight-result-detail {
      border-top: 1px solid var(--gray-l-color);
      padding: 1.25rem 1.5rem 1.5rem;
    }
  }

  .flight-segment {
    &:not(:first-child) {
      padding-top: 1rem;
    }

    &:not(:last-child) {
      padding-bottom: 1rem;
    }

    .flight-segment-item {
      position: relative;
      padding-left: 1rem;

      .flight-segment-item-detail {
        padding: 0.75rem 0 1.25rem;
      }

      img {
        width: 20px;
      }

      p {
        margin-bottom: 0;
      }

      &:before, &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 7px;
      }
      
      &:before {
        background: var(--secondary-color);
        border-radius: 6px;
        width: 6px;
        height: 6px;
        left: 0;
      }
      
      &:after {
        background: var(--gray-color);
        width: 1px;
        left: 3px;
        top: 1.5rem;
        bottom: 0.5rem;
      }
    }

    .flight-segment-info {
      padding: 0.5rem 0 0;
      
      .flight-segment-info-item {
        padding: 0.25rem;
        font-size: 0.8rem;
        
        &:not(:last-child):after {
          margin-left: 0.5rem;
          content: '·';
        }
      }
    }
  }

  .flight-scale {
    border-top: 1px solid var(--gray-l-color);
    border-bottom: 1px solid var(--gray-l-color);
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .result-amenities li {
    color: var(--body-l-color);
  }

}