/* line 1, ../sass/admin.scss */
.admin-page-header {
  margin: 2rem 0 1.5rem;
}

/* line 5, ../sass/admin.scss */
.admin-page-title {
  color: var(--primary-color);
  font-weight: bold;
}

/* line 10, ../sass/admin.scss */
.admin-grid-row {
  border: 1px solid var(--gray-l-color);
}
/* line 13, ../sass/admin.scss */
.admin-grid-row:not(:last-child) {
  border-bottom: 0;
}

/* line 18, ../sass/admin.scss */
.admin-grid {
  padding: 0.25rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
}
/* line 24, ../sass/admin.scss */
.admin-grid.admin-grid-header {
  align-items: flex-start;
}
/* line 27, ../sass/admin.scss */
.admin-grid.admin-grid-header .admin-grid-item {
  font-size: .8rem;
  color: var(--body-l-color);
  font-weight: 500;
}
/* line 34, ../sass/admin.scss */
.admin-grid .admin-grid-item {
  padding: 8px 4px;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}
/* line 40, ../sass/admin.scss */
.admin-grid .admin-grid-item:not(.has-ellipsis) {
  display: flex;
  align-items: center;
}
/* line 45, ../sass/admin.scss */
.admin-grid .admin-grid-item.has-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}
/* line 52, ../sass/admin.scss */
.admin-grid .admin-grid-item:hover {
  text-decoration: none;
}

/* line 59, ../sass/admin.scss */
.reservas-page .form-small .form-group .form-control {
  max-width: none !important;
}
/* line 63, ../sass/admin.scss */
.reservas-page .reserve-detail {
  padding: 1rem;
  border-top: 1px solid var(--gray-l-color);
}
/* line 68, ../sass/admin.scss */
.reservas-page .admin-grid-header {
  border-bottom: 1px solid var(--gray-xl-color);
}

/* line 73, ../sass/admin.scss */
.form-section {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray-l-color);
}
/* line 78, ../sass/admin.scss */
.form-section .form-control,
.form-section .custom-select {
  border-radius: 1rem;
  border-color: var(--gray-l-color);
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 85, ../sass/admin.scss */
.form-section .form-control:disabled, .form-section .form-control[readonly],
.form-section .custom-select:disabled,
.form-section .custom-select[readonly] {
  background: var(--gray-xl-color);
}
/* line 90, ../sass/admin.scss */
.form-section .form-group {
  margin-left: -8px;
  margin-right: -8px;
}
/* line 94, ../sass/admin.scss */
.form-section .form-group > div {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 101, ../sass/admin.scss */
.form-section-footer {
  padding-bottom: 5rem;
}
