/* line 3, ../sass/flight-details.scss */
.flight-details .flight-details-main {
  padding: 1.5rem;
}
/* line 6, ../sass/flight-details.scss */
.flight-details .flight-details-main .flight-result {
  border-radius: 8px;
  margin-bottom: 2rem;
}
/* line 12, ../sass/flight-details.scss */
.flight-details .flight-reserve {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 88px;
  bottom: 0;
  right: 0;
}

/* line 21, ../sass/flight-details.scss */
.payment-success-message {
  display: flex;
  align-items: center;
  background: #E5EAF4;
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
}
/* line 31, ../sass/flight-details.scss */
.payment-success-message .payment-success-icon i {
  background: var(--secondary-color);
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #fff;
  margin-right: 1rem;
}
