/* line 3, ../sass/home.scss */
.home-container .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem 5% 10%;
}
/* line 9, ../sass/home.scss */
.home-container .home-content h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 3rem;
}
/* line 18, ../sass/home.scss */
.home-container .form-container {
  border: 1px solid var(--gray-l-color);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
/* line 25, ../sass/home.scss */
.home-container .form-group label, .home-container .form-group .form-group-label {
  padding: 0.75rem 1.5rem;
}
/* line 29, ../sass/home.scss */
.home-container .form-group .form-control {
  padding: 1.75rem 1.5rem 0.75rem;
  font-size: 0.9rem;
}
/* line 34, ../sass/home.scss */
.home-container .form-group:not(:last-child) .form-control {
  border-right: 0;
  border-bottom: 1px solid var(--gray-l-color);
}
/* line 40, ../sass/home.scss */
.home-container .home-image {
  background: url("../images/home-pic.jpg");
  background-size: cover;
  position: fixed;
  right: 0;
  height: calc(100% - 88px);
}

/* line 50, ../sass/home.scss */
.home-flights-image {
  background: url("../images/home-vuelos-pic.jpg");
  background-size: cover;
}

/* line 55, ../sass/home.scss */
.toggle-destination {
  position: absolute;
  top: 20px;
  right: -14px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  font-size: 0.7rem;
  border-radius: 1rem;
  background: #fff;
  border: 1px solid var(--gray-l-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  transition: all 0.15s ease-in;
}
/* line 73, ../sass/home.scss */
.toggle-destination:hover {
  background: var(--gray-l-color);
  transform: translate(0, -1px);
  text-decoration: none;
}
