@media (max-width: 768px) {
  /* line 5, ../sass/landing.scss */
  .landing-page .navbar .btn-primary, .landing-page .navbar .btn-info {
    background: none;
    color: var(--primary-color);
    border: 0;
    border-radius: 0;
  }
  /* line 11, ../sass/landing.scss */
  .landing-page .navbar .btn-primary:hover, .landing-page .navbar .btn-primary:focus, .landing-page .navbar .btn-info:hover, .landing-page .navbar .btn-info:focus {
    background: none !important;
  }
}
/* line 18, ../sass/landing.scss */
.landing-page .hero {
  padding: 6rem 0 12rem;
  color: #fff;
  background: url("../images/landing/hero-bg.jpg");
  background-size: cover;
  position: relative;
}
/* line 25, ../sass/landing.scss */
.landing-page .hero:before {
  content: ' ';
  opacity: 0.4;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 36, ../sass/landing.scss */
.landing-page .hero:after {
  content: ' ';
  background: url("../images/landing/hero-line.svg");
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 127px;
}
@media (min-width: 1400px) {
  /* line 36, ../sass/landing.scss */
  .landing-page .hero:after {
    height: 10vw;
  }
}
/* line 50, ../sass/landing.scss */
.landing-page .hero .hero-content {
  z-index: 1;
  position: relative;
}
/* line 54, ../sass/landing.scss */
.landing-page .hero .hero-content h1 {
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1.3;
}
@media (min-width: 769px) {
  /* line 54, ../sass/landing.scss */
  .landing-page .hero .hero-content h1 {
    font-size: 3.5rem;
  }
}
/* line 66, ../sass/landing.scss */
.landing-page .hero .hero-content p {
  font-size: 1.25rem;
  line-height: 1.5;
}
/* line 73, ../sass/landing.scss */
.landing-page .feature-container {
  background: url("../images/landing/content-bg.jpg");
  background-size: cover;
}
/* line 77, ../sass/landing.scss */
.landing-page .feature-container .feature-section {
  align-items: center;
  padding: 2rem;
}
/* line 81, ../sass/landing.scss */
.landing-page .feature-container .feature-section p {
  font-size: 21px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  /* line 87, ../sass/landing.scss */
  .landing-page .feature-container .feature-section .swap-mobile {
    order: 2;
  }
}
/* line 95, ../sass/landing.scss */
.landing-page .carousel-item {
  text-align: center;
  padding: 6rem 15% 12rem;
}
/* line 99, ../sass/landing.scss */
.landing-page .carousel-item p {
  font-size: 28px;
  line-height: 1.5;
}
/* line 104, ../sass/landing.scss */
.landing-page .carousel-item .testimonial-name {
  font-size: .9rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--primary-color);
  padding: 3rem 0 2rem;
  position: relative;
}
/* line 112, ../sass/landing.scss */
.landing-page .carousel-item .testimonial-name:after {
  content: ' ';
  width: 1rem;
  height: 2px;
  background: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
}
/* line 124, ../sass/landing.scss */
.landing-page .carousel-control-prev,
.landing-page .carousel-control-next {
  opacity: 1;
  transition: all 0.15s ease-in;
}
/* line 129, ../sass/landing.scss */
.landing-page .carousel-control-prev:hover i,
.landing-page .carousel-control-next:hover i {
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
}
/* line 133, ../sass/landing.scss */
.landing-page .carousel-control-prev i,
.landing-page .carousel-control-next i {
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  border-radius: 3.5rem;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 145, ../sass/landing.scss */
.landing-page .footer-container {
  background: var(--primary-color);
  position: relative;
}
/* line 149, ../sass/landing.scss */
.landing-page .footer-container:after {
  content: ' ';
  background: url("../images/landing/footer-top.svg");
  background-size: cover;
  position: absolute;
  top: -96px;
  width: 100%;
  height: 96px;
}
@media (min-width: 1400px) {
  /* line 149, ../sass/landing.scss */
  .landing-page .footer-container:after {
    height: 8.7vw;
    top: -8.5vw;
  }
}
/* line 164, ../sass/landing.scss */
.landing-page .footer-container .footer-content {
  padding: 5rem 2rem 12rem;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 164, ../sass/landing.scss */
  .landing-page .footer-container .footer-content {
    padding: 5rem 2rem;
  }
}
/* line 172, ../sass/landing.scss */
.landing-page .footer-container .footer-content h1 {
  color: #fff;
  text-align: center;
  font-weight: 100;
}
/* line 178, ../sass/landing.scss */
.landing-page .footer-container .footer-content form {
  margin-top: 2rem;
  border-radius: 60px;
  overflow: hidden;
  display: flex;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
/* line 186, ../sass/landing.scss */
.landing-page .footer-container .footer-content form .form-control, .landing-page .footer-container .footer-content form .btn {
  height: 60px;
  width: 50%;
  flex: 1;
  border-radius: 0;
}
/* line 193, ../sass/landing.scss */
.landing-page .footer-container .footer-content form .btn:hover {
  transform: none;
}
/* line 199, ../sass/landing.scss */
.landing-page .footer-container .footer-links p,
.landing-page .footer-container .footer-links a {
  font-size: 0.8rem;
  padding: 1rem;
  display: block;
}
@media (max-width: 768px) {
  /* line 199, ../sass/landing.scss */
  .landing-page .footer-container .footer-links p,
  .landing-page .footer-container .footer-links a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
  }
}
/* line 211, ../sass/landing.scss */
.landing-page .footer-container .footer-icon {
  position: absolute;
  bottom: 0rem;
  left: 18%;
}
@media (max-width: 768px) {
  /* line 211, ../sass/landing.scss */
  .landing-page .footer-container .footer-icon {
    display: none;
  }
}
