@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.otf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts//Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts//Gilroy-Bold.ttf");
}
/* line 22, ../sass/main.scss */
*, ::before, ::after {
  box-sizing: border-box;
}

/* line 26, ../sass/main.scss */
html {
  display: flex;
  min-height: 100%;
  width: 100%;
}

/* line 32, ../sass/main.scss */
html, body {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 38, ../sass/main.scss */
body {
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  text-align: left;
  width: 100%;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

/* line 50, ../sass/main.scss */
:root {
  --primary-color: #003293;
  --secondary-color: #4CD9CF;
  --body-color: #202541;
  --body-l-color: #627178;
  --body-xl-color: #7F8D93;
  --gray-color: #D6DCDF;
  --gray-l-color: #E7EBEF;
  --gray-xl-color: #F4F7FB;
}

/* line 61, ../sass/main.scss */
.page {
  height: 100%;
}

/* line 65, ../sass/main.scss */
.btn:focus {
  box-shadow: none !important;
}

/* line 69, ../sass/main.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 73, ../sass/main.scss */
a {
  color: var(--primary-color);
}

/* line 77, ../sass/main.scss */
.text-uppercase {
  letter-spacing: 2px;
}

/* line 81, ../sass/main.scss */
.btn {
  border-radius: 50px;
  font-weight: 500;
}

/* line 86, ../sass/main.scss */
.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  transition: all ease-out 0.15s;
}
/* line 91, ../sass/main.scss */
.btn-primary:hover {
  transform: translate(0, -3px);
  background: var(--primary-color);
  border-color: var(--primary-color);
}

/* line 98, ../sass/main.scss */
.btn-hero {
  font-weight: bold;
  padding: 1.2rem;
  box-shadow: 0 10px 30px rba(0, 0, 0, 0.15);
}
