@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.otf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts//Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts//Gilroy-Bold.ttf");
}
/* line 21, ../sass/reset.scss */
*, ::before, ::after {
  box-sizing: border-box;
}

/* line 25, ../sass/reset.scss */
html {
  display: flex;
  min-height: 100%;
  width: 100%;
}

/* line 31, ../sass/reset.scss */
html, body {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37, ../sass/reset.scss */
body {
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.3;
  color: var(--body-color);
  text-align: left;
  width: 100%;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

/* Bootstrap reset */
/* line 51, ../sass/reset.scss */
hr {
  border-color: var(--gray-xl-color);
}

/* line 55, ../sass/reset.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 59, ../sass/reset.scss */
a {
  color: var(--primary-color);
}

/* line 63, ../sass/reset.scss */
.text-uppercase {
  letter-spacing: 2px;
}

/* line 67, ../sass/reset.scss */
.text-primary {
  color: var(--primary-color) !important;
}

/* line 71, ../sass/reset.scss */
.text-info {
  color: var(--secondary-color) !important;
}

/* line 75, ../sass/reset.scss */
.btn {
  border-radius: 50px;
  font-weight: 500;
  transition: all ease-out 0.15s;
  padding: 10px 20px;
  border-color: var(--gray-l-color);
  box-shadow: 0 1px 0 var(--gray-l-color) !important;
  font-size: 0.9rem;
  color: var(--primary-color);
}
/* line 85, ../sass/reset.scss */
.btn:hover {
  transform: translate(0, -2px);
}

/* line 90, ../sass/reset.scss */
.btn-default {
  background: #fff;
}

/* line 94, ../sass/reset.scss */
.btn-lg,
.btn-hero {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
}

/* line 99, ../sass/reset.scss */
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}

/* line 104, ../sass/reset.scss */
.btn-rounded {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* line 113, ../sass/reset.scss */
.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}
/* line 118, ../sass/reset.scss */
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/* line 125, ../sass/reset.scss */
.btn-info {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color) !important;
}
/* line 130, ../sass/reset.scss */
.btn-info:hover, .btn-info:focus {
  background: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

/* line 136, ../sass/reset.scss */
.btn-uppercase {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
/* line 141, ../sass/reset.scss */
.btn-uppercase.btn-sm {
  font-size: 0.6rem;
}
/* line 145, ../sass/reset.scss */
.btn-uppercase.btn-lg {
  font-size: 0.9rem;
  padding: 1rem 2rem;
}

/* line 151, ../sass/reset.scss */
.btn-hero {
  font-weight: bold;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 30px rba(0, 0, 0, 0.15);
  font-size: 0.8rem;
}

/* line 158, ../sass/reset.scss */
.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 163, ../sass/reset.scss */
.badge {
  padding: 4px;
  font-size: 0.7rem;
  font-weight: 500;
}

/* line 169, ../sass/reset.scss */
.badge-primary {
  background: #E5EAF4;
  color: var(--primary-color);
}

/* line 174, ../sass/reset.scss */
.badge-danger {
  background: #FDEDF0;
  color: var(--danger-color);
}

/* line 179, ../sass/reset.scss */
.modal-backdrop {
  background-color: #fff;
}

/* line 184, ../sass/reset.scss */
.modal .modal-content {
  border: 1px solid var(--gray-l-color);
  padding: 3rem;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.05);
}
/* line 190, ../sass/reset.scss */
.modal .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* Helpers Classes */
/* line 200, ../sass/reset.scss */
.font-sm {
  font-size: 0.9rem;
}

/* line 204, ../sass/reset.scss */
.font-xs {
  font-size: 0.8rem;
}

/* line 208, ../sass/reset.scss */
.font-xxs {
  font-size: 0.7rem;
}

/* line 212, ../sass/reset.scss */
.font-medium {
  font-weight: 500;
}

/* line 216, ../sass/reset.scss */
.search-small {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem 1rem 1rem;
}
/* line 221, ../sass/reset.scss */
.search-small:hover {
  background: var(--gray-xl-color);
  text-decoration: none;
}

/* line 227, ../sass/reset.scss */
.btn-circle,
.circle-icon {
  display: flex;
  justify-self: center;
  min-width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--body-l-color);
}

/* line 240, ../sass/reset.scss */
.circle-icon {
  background: var(--gray-l-color);
}

/* line 244, ../sass/reset.scss */
.circle-icon-success {
  background: var(--secondary-color);
  color: #fff;
}

/* line 249, ../sass/reset.scss */
.circle-icon-danger {
  background: var(--danger-color);
  color: #fff;
}

/* line 254, ../sass/reset.scss */
.list-dropdown {
  border: 1px solid var(--gray-l-color);
  padding: 0.5rem 1rem;
  border-radius: 34px;
}
/* line 259, ../sass/reset.scss */
.list-dropdown a {
  color: var(--body-color);
}
/* line 263, ../sass/reset.scss */
.list-dropdown a:hover {
  text-decoration: none;
  white-space: nowrap;
}
