@charset "UTF-8";
/* line 3, ../sass/results.scss */
.results-header {
  padding: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 3, ../sass/results.scss */
  .results-header {
    position: sticky;
    top: 88px;
    background: #fff;
    z-index: 1000;
  }
}
/* line 14, ../sass/results.scss */
.results-header .form-control {
  max-width: 250px;
  font-size: 0.8rem;
}

/* line 19, ../sass/results.scss */
.results-main {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 19, ../sass/results.scss */
  .results-main {
    width: calc(70% - 3rem);
    padding-left: 2rem;
  }
}

/* line 28, ../sass/results.scss */
.results-map {
  width: 30%;
  position: fixed;
  right: 1rem;
  top: calc(1rem + 88px + 73px);
  bottom: 1rem;
  height: calc(100% - 2srem - 88px);
  border-radius: 8px;
  overflow: hidden;
}
/* line 38, ../sass/results.scss */
.results-map iframe {
  width: 100%;
  height: 100%;
}

/* line 44, ../sass/results.scss */
.result-amenities li {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
/* line 49, ../sass/results.scss */
.result-amenities li i {
  width: 1rem;
  text-align: center;
}

/* line 57, ../sass/results.scss */
.result-card {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-l-color);
}
/* line 62, ../sass/results.scss */
.result-card .result-name {
  font-size: 1.1rem;
}
/* line 66, ../sass/results.scss */
.result-card .result-image-link {
  display: block;
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 768px) {
  /* line 66, ../sass/results.scss */
  .result-card .result-image-link {
    margin-right: 1rem;
  }
}
/* line 76, ../sass/results.scss */
.result-card .results-price-currency {
  text-transform: uppercase;
  font-size: 0.8rem;
}
/* line 81, ../sass/results.scss */
.result-card .results-details {
  border-top: 1px solid var(--gray-l-color);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
/* line 87, ../sass/results.scss */
.result-card .room-card {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
/* line 91, ../sass/results.scss */
.result-card .room-card:not(:last-child) {
  border-bottom: 1px solid var(--gray-l-color);
}

/* line 97, ../sass/results.scss */
.reserve-modal {
  position: fixed;
  z-index: 1010;
  top: 88px;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 105, ../sass/results.scss */
.reserve-modal .reserve-modal-backdrop {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 113, ../sass/results.scss */
.reserve-modal .reserve-modal-content {
  background: #fff;
  right: 0;
  height: 100%;
  position: absolute;
  width: 420px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
/* line 122, ../sass/results.scss */
.reserve-modal .reserve-modal-image {
  height: 16.666%;
  overflow: hidden;
  position: relative;
}
/* line 127, ../sass/results.scss */
.reserve-modal .reserve-modal-image img {
  position: absolute;
  bottom: -32%;
}
/* line 133, ../sass/results.scss */
.reserve-modal .reserve-card {
  border-bottom: 1px solid var(--gray-l-color);
  padding: 0.75rem 0;
}
/* line 137, ../sass/results.scss */
.reserve-modal .reserve-card .reserve-card-title {
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
}
/* line 142, ../sass/results.scss */
.reserve-modal .reserve-card p {
  margin-bottom: 0;
}

/* line 150, ../sass/results.scss */
.flights-results {
  margin-bottom: 4rem;
}
/* line 153, ../sass/results.scss */
.flights-results .flights-search-container {
  padding: 1.5rem 0;
}
/* line 157, ../sass/results.scss */
.flights-results .toggle-destination {
  top: 14px;
}
/* line 162, ../sass/results.scss */
.flights-results .form-group .form-control {
  padding: 1.5rem 1rem 0.5rem;
  min-width: 110px;
  max-width: 130px;
  font-size: 0.8rem;
}
/* line 169, ../sass/results.scss */
.flights-results .form-group label {
  padding: 0.5rem 1rem;
}
/* line 174, ../sass/results.scss */
.flights-results .flight-result {
  border: 1px solid var(--gray-l-color);
  border-bottom: 0;
  transition: all 0.15s ease-in;
}
/* line 179, ../sass/results.scss */
.flights-results .flight-result:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
/* line 184, ../sass/results.scss */
.flights-results .flight-result:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 189, ../sass/results.scss */
.flights-results .flight-result:last-child {
  border-bottom: 1px solid var(--gray-l-color);
}
/* line 193, ../sass/results.scss */
.flights-results .flight-result .arrow-open {
  display: none;
}
/* line 197, ../sass/results.scss */
.flights-results .flight-result.flight-result-open {
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid var(--gray-l-color);
}
/* line 202, ../sass/results.scss */
.flights-results .flight-result.flight-result-open .arrow-open {
  display: block;
}
/* line 206, ../sass/results.scss */
.flights-results .flight-result.flight-result-open .arrow-closed {
  display: none;
}
/* line 211, ../sass/results.scss */
.flights-results .flight-result .view-more-flight-button > .row {
  align-items: center;
  padding: 0 0.5rem;
}
/* line 215, ../sass/results.scss */
.flights-results .flight-result .view-more-flight-button > .row > .col {
  padding: 1rem 0.5rem;
}
/* line 220, ../sass/results.scss */
.flights-results .flight-result .flight-result-logo img {
  width: 35px;
  height: auto;
}
/* line 225, ../sass/results.scss */
.flights-results .flight-result .btn-rounded {
  pointer-events: none;
}
/* line 229, ../sass/results.scss */
.flights-results .flight-result .flight-result-detail {
  border-top: 1px solid var(--gray-l-color);
  padding: 1rem 1.5rem 1rem;
}
/* line 236, ../sass/results.scss */
.flights-results .flight-segment:not(:first-child) {
  padding-top: 1rem;
}
/* line 240, ../sass/results.scss */
.flights-results .flight-segment:not(:last-child) {
  padding-bottom: 1rem;
}
/* line 244, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item {
  position: relative;
  padding-left: 1rem;
}
/* line 248, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item .flight-segment-item-detail {
  padding: 0.75rem 0 1.25rem;
}
/* line 252, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item img {
  width: 20px;
}
/* line 256, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item p {
  margin-bottom: 0;
}
/* line 260, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item:before, .flights-results .flight-segment .flight-segment-item:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 7px;
}
/* line 267, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item:before {
  background: var(--secondary-color);
  border-radius: 6px;
  width: 6px;
  height: 6px;
  left: 0;
}
/* line 275, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-item:after {
  background: var(--gray-color);
  width: 1px;
  left: 3px;
  top: 1.5rem;
  bottom: 0.5rem;
}
/* line 284, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-info {
  padding: 0.5rem 0 0;
}
/* line 287, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-info .flight-segment-info-item {
  padding: 0.25rem;
  font-size: 0.8rem;
}
/* line 291, ../sass/results.scss */
.flights-results .flight-segment .flight-segment-info .flight-segment-info-item:not(:last-child):after {
  margin-left: 0.5rem;
  content: '·';
}
/* line 299, ../sass/results.scss */
.flights-results .flight-scale {
  border-top: 1px solid var(--gray-l-color);
  border-bottom: 1px solid var(--gray-l-color);
  padding: 0.5rem;
  font-size: 0.8rem;
}
/* line 306, ../sass/results.scss */
.flights-results .result-amenities li {
  color: var(--body-l-color);
}
