/* line 1, ../sass/variables.scss */
:root {
  --primary-color: #003293;
  --secondary-color: #4CD9CF;
  --body-color: #202541;
  --body-l-color: #627178;
  --body-xl-color: #7F8D93;
  --gray-color: #D6DCDF;
  --gray-l-color: #E7EBEF;
  --gray-xl-color: #F4F7FB;
}
